---
layout: page
title: About Me
icon: child
permalink: /
---
<div class="ui two column grid">
    <div class="column">
        <div class="ui fluid card">
            <div class="image">
                <img src="{{site.baseurl}}/img/stefano.jpg">
            </div>
            <div class="content">
                <div class="header">Stefano Meschiari</div>
                <div class="meta">
                    W. J. McDonald Postdoctoral Fellow<br>
                    University of Texas at Austin
                </div>
                <div class="description">
                    <p>
                        Hello! I am a postdoctoral astronomer at the University of
                        Texas at Austin, working to find new exoplanets and understand
                        how they formed.
                    </p>
                    <p>
                        I love modelling data, and I especially enjoy creating tools that empower
                        others to understand and extract meaning from data. 
                    </p>
                    <p>
                        Finally, I am passionate about open-source software development. I create
                        cool-ish things like games for astronomy education, code to discover exoplanets,
                        and all sorts of small toys and hacks.
                    </p>
                </div>                
            </div>
            <div class="extra content">
                <span>
                    <i class="italy flag">
                        
                    </i>
                    Hailing from Modena, Italy
                </span>
            </div>
            <div class="extra content">
                <span>
                    <i class="us flag">
                        
                    </i>
                    Currently in Austin, Texas
                </span>
            </div>
            <div class="extra content">
                <span>
                    <i class="icon heart">
                        
                    </i>
                    <a href="http://sgma.aas.org/sites/sgma.aas.org/files/poster-2014-AAS.pdf">Husband</a> + dog
                </span>
            </div>            
        </div>
        <div class="ui fluid card">
            <a class="image" href="{{site.baseurl}}/research">
                <img src="{{site.baseurl}}/img/exoplanet_synthetic.jpg">
            </a>
            <div class="content">
                <div class="header">Research</div>
                <div class="description">
                    I am interested in the discovery and characterization of extrasolar planets, the formation of planets in disturbed environments, evolution of protoplanetary disks, citizen science-driven projects and hydrodynamical and N-body codes.
                </div>
            </div>
            <div class="extra content">
                <i class="icon student"></i> UC Santa Cruz, Ph.D.
            </div>
            <div class="extra content">
                <i class="icon student"></i> University of Bologna, B.S., M.S.
            </div>
            <a class="ui bottom attached button" href="/projects">
                Read more...
            </a>
        </div>
        <div class="ui fluid card">
            <div class="content">
                <div class="header">What am I working on now?</div>
                
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui fluid card">            
            <div class="content">
                <div class="header">
                    Interests
                </div>
            </div>
            <div class="content pills">
                <h4 class="ui sub header">I work on:</h4>
                    <div class="ui label teal">Astrophysics</div>
                    <div class="ui label teal">Science education</div>
                    <div class="ui label teal">Citizen science</div>
                    <div class="ui label teal">Gamified education</div>
                    <div class="ui label teal">Data analysis tools</div>
                    <div class="ui label teal">Stats</div>
                    <div class="ui label teal">Numerical simulations</div>
                    <div class="ui label teal">Visualizations</div>
                    <div class="ui label teal">Web apps</div>                    
                    <div class="ui label teal">Science writing</div>
            </div>
            <div class="content pills">
                <h4 class="ui sub header">Using:</h4>
                <div class="ui label olive">R</div>
                <div class="ui label olive">JavaScript</div>
                <div class="ui label olive">HTML5/CSS</div>
                <div class="ui label olive">C</div>
                <div class="ui label olive">Java</div>
                <div class="ui label olive">Lua</div>
                <div class="ui label olive">Git + Emacs + Fish</div>                
            </div>
            <a class="ui bottom attached button" href="https://github.com/stefano-meschiari/">
                    See my stuff on GitHub...
            </a>
        </div>
        <div class="ui fluid card projects">            
            <div class="content">
                <div class="header">
                    Projects
                    <a class="ui right floated button small compact" href="{{site.baseurl}}/projects">See all</a>
                </div>
            </div>
            <div class="content">
                <div class="ui divided items">
                    {% for project in site.data.projects %}
                    <div class="item">
                        {% if project.external %}
                        <a class="ui tiny image {{ project.class }}" href="{{ project.url }}" target="_new">
                            <img src="{{ site.baseurl }}{{ project.img }}">
                        </a>
                        {% else %}
                        <a class="ui tiny image {{ project.class }}" href="{{ site.baseurl }}/{{ project.url }}" target="_new">
                            <img src="{{ site.baseurl }}{{ project.img }}">                            
                        </a>
                        {% endif %}
                        <div class="content">
                            {% if project.external %}
                            <a class="header" href="{{ project.url }}" target="_new">
                                {{ project.title }}
                            </a>
                            {% else %}
                            <a class="header" href="{{ site.baseurl }}/{{ project.url }}" target="_new">
                                {{ project.title }}
                            </a>
                            {% endif %}
                            <div class="description">
                                {{ project.description }}
                            </div>                        
                        </div>
                    </div>
                    {% endfor %}                    
                </div>
            </div>
            <a class="ui bottom attached button" href="/projects">
                See more projects...
            </a>
        </div>
        <div class="ui fluid card projects">
            <div class="content">
                <div class="header">
                    Blog
                </div>
            </div>
            <div class="content">
                Posts go here.
            </div>
            <a class="ui bottom attached button" href="/projects">
                See all posts...
            </a>
        </div>
    </div>
</div>
