<header class="site-header">

    <nav class="site-nav">
        <div class="me section">
            <a href="{{site.baseurl}}/" class="site-title">
                <img src="{{site.baseurl}}/img/stefano_head.jpg" class="avatar"><br>
                Stefano Meschiari
            </a>
            <div class="subtitle">
                Astronomer + Data Scientist
            </div>
        </div>
        <div class="site-pages section">
            
            {% for index in site.data.sidebar.order %}
            {% assign my_page = site.pages[index] %}
            
            {% if my_page.title %}
            <a class="ui button compact labeled icon page" href="{{ my_page.url | prepend: site.baseurl }}">
                <i class="{{my_page.icon}} icon"></i>
                {{ my_page.title }}
            </a>
            {% endif %}
            {% endfor %}
        </div>
            <a class="ui button compact circular icon" title="Email me" href="mailto:{{ site.data.env.email }}">
                <i class="mail outline icon"></i>
            </a>

            <a class="ui button compact circular icon" title="GitHub">
                <i class="github icon"></i>
            </a>

            <a class="ui button compact circular icon" href="https://twitter.com/{{ site.data.env.twitter }}" title="Tweet @ me">
                <i class="twitter icon"></i>
            </a>

            <a class="ui button compact circular icon" title="Linkedin">
                <i class="linkedin icon"></i>
            </a>

            

    </nav>
</header>
