<header class="site-header">

    <nav class="site-nav">
        <div class="me section">
            <a href="/" class="site-title">
                <img src="img/stefano_head.jpg" class="avatar"><br>
                Stefano Meschiari
            </a>
            <div class="subtitle">
                Astronomer + Data Scientist
            </div>
        </div>
        <div class="site-pages section">
            {% for my_page in site.pages %}
            {% if my_page.title %}
            <a class="ui button compact labeled icon page" href="{{ my_page.url | prepend: site.baseurl }}">
                <i class="{{my_page.icon}} icon"></i>
                {{ my_page.title }}
            </a>
            {% endif %}
            {% endfor %}

            <a class="ui button compact circular icon">
                <i class="github icon"></i>
            </a>

            <a class="ui button compact circular icon">
                <i class="twitter icon"></i>
            </a>

            <a class="ui button compact circular icon">
                <i class="linkedin icon"></i>
            </a>

            
        </div>
    </nav>
</header>
